&.vertical-stacked-bar
  .content
    .bars
      transition transform 0.4s
      transform translate(0, 0)
      .row
        float left
        width 100%
        height 40px
        margin-bottom 6px
        overflow hidden
        .row-name
          float left
          width 100%
          font-weight 500
        .fields
          position relative
          float left
          width 100%
          .default
          .extended
            width 100%
            position absolute
            .field
              position relative
              height 22px
              line-height 22px
              transition height 0.4s
              .label
                font-size 13px
                opacity 1
                transition opacity 0.4s
                float left
                width 100%
                text-align center
                color white
          .default
            right 0px
            z-index 2
            .field
              float right
              &:first-child
                background #1a9850
              &:nth-child(2)
                background #66bd63
            .sum-label
              position relative
              top -3px
              left -7px
              font-size 13px
              transition opacity 0.2s
              opacity 0
          .extended
            left 0px
            z-index 1
            transition left 0.4s
            .field
              float left
              &:nth-child(1)
                background #d73027
              &:nth-child(2)
                background #f46d43
              &:nth-child(3)
                background #999999
    ul.legend
      margin-top 8px
      li
        padding-right 30px
        position relative
        margin-bottom 4px
        opacity 1
        transition opacity 0.4s
        &:after
          content ""
          position absolute
          right 0px
          top 4px
          width 15px
          height 10px
          background red
        &:nth-child(1):after
          background-color #1a9850
        &:nth-child(2):after
          background-color #66bd63
        &:nth-child(3):after
          background-color #999999
        &:nth-child(4):after
          background-color #f46d43
        &:nth-child(5):after
          background-color #d73027
    &:not(:hover)
      .footer
        top -70px
      .bars
        transform translate(0, -60px)
        .row .fields
          .extended
            left 100%
          .default
            .sum-label
              opacity 1
            .field:nth-child(2)
              border-top-left-radius 2px
              border-bottom-left-radius 2px
          .field
            height 13px
            .label
              opacity 0
      ul.legend li:nth-child(2) ~ li
        opacity 0

