&.line-chart
  position relative
  width 100%
  float left
  .content
    position absolute
    width 350px
    left -6px
    top 5px
    h3
      margin-right 25px
    .chart-container
      position relative
      width 350px
      height 250px
      overflow hidden
    .default
      z-index 3
      pointer-events none
      position absolute
      top 0px
      left 0px
      width 100%
      opacity 1
      transition left 0.4s 0.4s, opacity 0.4s 0s
      .x-label
        position absolute
        right 41px
        top 0px
        text-align center
        .extent
          position absolute
          top 23px
          left 16px
          height 194px
          width 1px
          background #f0
        .label
          position absolute
          top 221px
          left 0px
      .item
        position absolute
        width 100%
        transform translate(0, -50%)
        padding-right 20px
        right 20px
        .circle
          position absolute
          top 50%
          right 0px
          transform translate(0, -50%)
          width 8px
          height 8px
          border-radius 50%
        &:nth-child(1) .circle
          background-color #377eb8
        &:nth-child(2) .circle
          background-color #4daf4a
        &:nth-child(3) .circle
          background-color #e41a1c
        &:nth-child(4) .circle
          background-color #984ea3
    svg
      z-index 1
      position relative
      .axes
        .axis.y
          g.tick
            text
              opacity 0
        .axis.x
          .extent:not(:nth-child(2)) text
            opacity 0
          g.tick text
            opacity 0
          .extent:nth-child(2)
            g.tick:nth-child(1) text
            g.tick:nth-last-child(1) text
              opacity 1
    .cover
      position absolute
      transition left 0.4s 0s
      left 0px
      top 0px
      width 100%
      height 250px
      z-index 2
      background white
  &:hover
    .cover
      left 100%
      transition left 0.4s 0.6s
    .default
      left -180px
      opacity 0
      transition left 0.4s 0s, opacity 0.8s 1.8s
  &.dluh-polsko:hover
    .default
      left -159px
