&.emigrace
  position relative
  float left
  .content
    width 318px
    left 0px
  .content *
    pointer-events none
  ul
    position relative
    list-style-type none
    margin 0px
    padding 0px
    width 100%
    float left
    margin 0px 0px 0px 0px
    background white
    z-index 3
    li
      width 100%
      float left
      height 36px
      transition top 0.6s, height 0.6s
      margin 0px
      position relative
      .overlay
        position absolute
        top 0px
        left 0px
        width 100%
        bottom 0px
      .title
        display block
        width 100%
        float left
        text-align right
        font-weight bold
        position relative
        top 8px
      .bar
        float left
        height 20px
        position relative
        top 8px
        width 100%
        .item
          position relative
          float right
          height 10px
          background ColorRed
          border-top-left-radius 2px
          border-bottom-left-radius 2px
        .count
          position absolute
          white-space nowrap
          margin-right 10px
          top -4px
          font-size 11px
          opacity 1
          transition opacity 0.4s
        .months
          position relative
          width 100%
          height 10px
          &.active
            background white
          .month
            position absolute
            background ColorRed
            height 10px
            top 0px
            animation narrowIn 0.2s
            transform rotate(0deg)
            transform-origin 100% 50%
            transition transform 0.4s, top 0.2s, left 0.2s, height 0.2s, opacity 0.2s
            border-right 1px solid white
            opacity 1
            &.rotated
              top 32px
              transform rotate(90deg)
            &.tall
              top 0px
              height 10px
            &.exiting
              opacity 0
          .year
            position absolute
            top 39px
            font-size 11px
            height 11px
            line-height @height
            padding-left 3px
            padding-right 3px
            opacity 0
            transition opacity 0.4s
            &:first-child
              right 94px
              border-left 1px solid black
            &:last-child
              border-right 1px solid black
              right 6px
      &.active
        height 88px
        border-bottom 1px solid #e6
        .bar .count
          opacity 0
