&.export
  .content
    .cover
      left auto
      transition right 0.4s
      right 0px
    .default
      label
        opacity 1
        transition opacity 0.6s
      .x-label .label
        opacity  1
        transition opacity 0.4s
  &:hover
    .default
      left -1px
      label
        opacity 0
      .x-label .label
        opacity  0
    .cover
      right 100%
