&.line-chart.hdpzmena
  .content
    .chart-container
      width 560px
      background white
      transition width 0.4s
  .axis.x
    line.domain
    line.extent
    line.tick
      opacity 0.05
  .drawing .zero-line
    line
      stroke #0
      shape-rendering crispEdges
    text
      font-size 11px
  .axis.y .extents g.extent
  .drawing .lines g.line
    transition opacity 0.4s
  svg
    transition left 0.4s
    left 0px
  &.hdpzmena-polsko
  &.hdpzmena-slovensko
    svg .highlight-2009
      transition opacity 0.2s
      opacity 0

  &:not(:hover)
    position relative
    .axis.y .extents g.extent:not(:nth-child(2))
      opacity 0
    .axis.y .extents g.extent:nth-child(2) g.tick:not(.active)
      opacity 0
    .chart-container
      width 326px
    &.hdpzmena-madarsko
      .drawing .lines g.line:not(:nth-child(2))
        opacity 0
      svg
        left 124px
    &.hdpzmena-polsko
      .drawing .lines g.line:not(:nth-child(3))
        opacity 0.1
    &.hdpzmena-slovensko
      .drawing .lines g.line:not(:nth-child(4))
        opacity 0.1
    &.hdpzmena-polsko
    &.hdpzmena-slovensko
      svg
        left -162px
        .highlight-lines line.x
          opacity 0
        .highlight-2009
          fill #3
          opacity 1
    &.nez-mladi
      .drawing .lines g.line:not(:nth-child(3))
        opacity 0.1
      svg
        left -111px

