&
  width 500px
  margin-left (380px - 24px)
  float left
  background lighten(desaturate(ColorRed, 50%), 99%)
  border 1px solid ColorRed
  padding 15px 24px
  border-radius 4px
  h2
  p
    color darken(ColorRed, 70%)
  h2
    margin-top 0px
    margin-bottom 0.3em
    font-size 20px
    font-weight 500
  p
    line-height 1.7em
