&.line-chart.konvergence
  .legend
    margin 0px
    padding 0px
    list-style-type none
    li
      float left
      width 33%
      text-align left
      padding-left 15px
      margin 0px
      position relative
      transition opacity 0.2s
      &:before
        content ""
        left 0px
        top 9px
        position absolute
        width 8px
        height 2px
        opacity 1
      for Color, i in Colors
        &:nth-child({i + 1}):before
          background-color Color



  &:not(:hover)
    svg
      left -225px
    svg .drawing .lines g.line
    ul.legend li
      opacity 0.1
      &:nth-child(4)
      &:nth-child(1)
      &:last-child
        opacity 1
  &.auta-cesko
    svg .drawing .lines g.line
    ul.legend li
      &:nth-child(4)
        opacity 0.1
  &.korupce:not(:hover)
    svg .drawing .lines g.line
    ul.legend li
      &:nth-child(4)
        opacity 0.1
