&.madarsko-mapa
  width 320px
  .content
    margin 0px
    left 0px
    width 100%
  .map-container
    float left
    position relative
    width 100%
    height 260px
  .map
    position absolute
    border 1px solid #e
    top 0px
    left 0px
    width 100%
    height 260px
  .footer
    text-align right
