&.media
  .content
    .cover
      left auto
      transition right 0.4s
      right 0px
  .default .item:nth-child(1) label
    position relative
    top -10px
  &:hover
    .default
      left 0px
      transition opacity 0.8s 0.2s
    .cover
      right 100%
