&.nezamestnanost
  .content
    .chart-container
      transition width 0.4s
      background white
    .cover
      left auto
      transition right 0.4s 0.8s
      right 0px
    .default
      left auto
      right 0px
      label
        opacity 1
        transition opacity 0.6s 0.6s
      .x-label .label
        opacity  1
        transition opacity 0.4s
    svg
      left -200px
      transition left 0.2s
  &:hover
    .content
      .chart-container
        width 550px
    .default
      label
        opacity 0
      .x-label .label
        opacity  0
    .cover
      right 100%
    svg
      left 0px
