&.regiony
  .drawing
  .scroller
    width 880px
    background white
  .drawing
    overflow hidden
    transition width 0.4s, left 0.4s
    position absolute
    left 0px
    padding 10px 0px
    border-bottom 1px solid #a

  .country
    width 220px
    float left
    .name
      font-weight bold
    ul
      list-style-type none
      position relative
      width 100%
      height 400px
      margin 0px
      li
        position absolute
        width 100%
        left 0px
        z-index 1
        margin 0px
        .circle
          position absolute
          top 7px
          right 0px
          width 7px
          height 7px
          border-radius 50%
          background #e
        .title
          position absolute
          right 0px
          padding-right 12px
          white-space nowrap
          opacity 1
          cursor default
          text-shadow -1px -1px 0px #fff,-1px 1px 0px #fff,1px -1px 0px #fff,1px 1px 0px #fff
        &:not(:first-child):not(:last-child)
          .title
            opacity 0
          .circle
            opacity 0.5
        &:hover
          z-index 2
          .title
          .circle
            opacity 1 !important
    for Color, i in Colors
      &:nth-child({i + 1})
        .circle
          background-color Color
  &:not(:hover)
    .drawing
      width 220px
      left 30px
      border-bottom-color #FFF

  .content .footer
    top 290px
