&.table
  .table-container
    width 250px
    overflow hidden
    transition width 0.4s
    background white
    table
      width (249px / 2 * 3)
      border-collapse collapse
      th
      td
        white-space nowrap
        width (250px / 2)
        border-bottom 1px solid #e0
        padding 5px 0px
      thead th
        text-align right
      tbody th
        text-align left
  &:hover
    .table-container
      width (250px / 2 * 3 + 15px)
