@import colors
Colors = #377eb8 #4daf4a #e41a1c #984ea3 #ff7f00 #f781bf #999999
ColorsSmall = #377eb8 #4daf4a #e41a1c #984ea3
@import prefixes
@import 'components/triangle'

@import fitter
#article .ig
  @import basics
  @import demokracie
  @import dluh
  @import hdpzmena
  @import LineChart
  @import verticalDotChart
  @import madarsko-mapa
  @import media
  @import chudoba
  @import emigrace
  @import konvergence
  @import export
  @import nezamestnanost
  @import romove
  @import regiony
#article .infobox
  @import infobox
#article div.prehravac
  position relative
  float left
  width 100%
  .content
    position absolute
    top 5px
    width 320px
    h3
      margin 0px
      margin-bottom 0.7em
      text-align right
    iframe
      width 100%
      margin-top 10px
    p
      width 100%
      text-align right
#article .ig
  position relative
  width 100%
  float left
  .content
    width 250px
    left 70px
    top 5px
    text-align right
    position absolute
  .footer
    float left
    margin-left -70px
    width 320px
    margin-top 10px
    position relative
    top 0px
    transition top 0.4s
    background white
    p
      color #6
      font-size 12px !important
      line-height 1.1em
      &:first-child
        margin 0px
      &:last-child
        margin-bottom 0px
        margin-top 6px

  &.line-chart .footer
    margin-left 5px
  &.emigrace .footer
    margin-left -2px
  &.madarsko-mapa .footer
    margin-left 0px
  h3
    margin 0px
    margin-bottom 0.7em
  ul
    list-style-type none
    margin 0px
    padding 0px
