&.vertical-dot-chart
  .content
    height 300px
  .drawing
    position absolute
    top 50px
    overflow hidden
    left -70px
    width 320px
    height 684px
    transition height 0.4s
    background white
    border-bottom 1px solid #a
    .slider
      position absolute
      top 205px
      right 8px
      height 300px
      transition top 0.4s
    .country
      position absolute
      right 0px
      .circle
        position absolute
        top 7px
        left 0px
        width 7px
        height 7px
        border-radius 50%
        background #e
      .title
        position absolute
        right 0px
        padding-right 12px
        white-space nowrap
        opacity 1
        cursor default
        text-shadow -1px -1px 0px #fff,-1px 1px 0px #fff,1px -1px 0px #fff,1px 1px 0px #fff
      &:nth-child(5) ~ .country:not(:last-child)
        .title
          opacity 0
      for Color, i in ColorsSmall
        &:nth-child({i + 1})
          z-index 2
          .circle
            background-color Color
      &:nth-child(5) .circle
        background-color #A65628
      &:last-child .circle
        background-color #f781bf
      &:hover
        z-index 3
        .title
          opacity 1 !important
        .circle
          background #ff7f00
  .content .footer
    top 610px
  &:not(:hover)
    .content .footer
      top 310px
    .drawing
      height 300px
      border-bottom-color #FFF
      .slider
        top 0px
  &:hover
    z-index 3000
  &.vzdelani
    .drawing
      height 110px
      .slider
        height 100px
    .content .footer
      top 120px
    &:hover
      .drawing
        height 628px
        .slider
          top 294px
        // .country//:nth-child(5) .title
        .country:nth-child(5) .title
          opacity 1
      .content .footer
        top 570px
